{% extends 'base.html' %}

{% block cards %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded pt-3">
            <h3 class="alert alert-light border rounded">Login</h3>
            <form action="/login" method="POST">
                {% csrf_token %}
                <!-- error -->
                {% if error %}
                <div class="alert alert-danger" role="alert">
                  <h4 class="alert-heading"></h4>
                  <p>{{error}}</p>
                  <p class="mb-0"></p>
                </div>
                {% endif %}
                  <!-- email -->
                  <div class="form-group">
                    <label for="">Email</label>
                    <input value="{{values.email}}" type="text" name="email" id="" class="form-control form-control-sm" placeholder="example@gmail.com" aria-describedby="helpId">
                  </div>
                  <!-- password --> 
                  <div class="form-group">
                    <label for="">Password</label>
                    <input type="text" name="password" id="" class="form-control form-control-sm" placeholder="Jamp****" aria-describedby="helpId">
                  </div>
                  <!-- button -->
                  <div class="form-group">
                      <input class="btn btn-sm btn-info" type="submit" value="Login">
                  </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}